.container {
    width: 50%;
    position: relative;
    left: 25%;
}

.container > div {
    position: inherit;
    vertical-align: center;
    padding-bottom: 1em;
}

.container > div > button {
    width: 32px;
    height: 32px;
}

.container > div > input {
    width: 300px;
}

.container > div > select {
    width: 300px;
}